﻿/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: #5a5a5a;
}





/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}

.marketing h2 {
    font-weight: 400;
}

.marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
}


/* Featurettes
------------------------- */

.featurette-divider {
    margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
    /* Bump up size of carousel content */
    .carousel-caption p {
        margin-bottom: 1.25rem;
        font-size: 1.25rem;
        line-height: 1.4;
    }

    .featurette-heading {
        font-size: 50px;
    }
}

@media (min-width: 62em) {
    .featurette-heading {
        margin-top: 7rem;
    }
}
/*********footer*******************/
. kilimanjaro_area {
    position: relative;
    z-index: 1;
}

.foo_top_header_one {
    background-color: #fce6c3;
    color: #fff;
}

.section_padding_100_70 {
    padding-top: 100px;
    padding-bottom: 70px;
}

.foo_top_header_one {
    color: #fff;
}

.kilimanjaro_part {
    margin-bottom: 30px;
}

.foo_top_header_one .kilimanjaro_part > h5 {
    color: #fff;
}

.kilimanjaro_part h4, .kilimanjaro_part h5 {
    margin-bottom: 30px;
}

.kilimanjaro_single_contact_info > p, .kilimanjaro_single_contact_info > h5, .kilimanjaro_blog_area > a, .foo_top_header_one .kilimanjaro_part > p {
    color: rgba(255,255,255,.5);
}

p, ul li, ol li {
    font-weight: 300;
}

ul {
    margin: 0;
    padding: 0;
}

.kilimanjaro_bottom_header_one {
    background-color: #111;
}

.section_padding_50 {
    padding: 50px 0;
}

.kilimanjaro_bottom_header_one p {
    color: #fff;
    margin: 0;
}

p, ul li, ol li {
    font-weight: 300;
}

.kilimanjaro_bottom_header_one a {
    color: inherit;
    font-size: 14px;
}

a, h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}

.m-top-15 {
    margin-top: 15px;
}

ul {
    margin: 0;
    padding: 0;
}

.kilimanjaro_widget > li {
    display: inline-block;
}

p, ul li, ol li {
    font-weight: 300;
}

ol li, ul li {
    list-style: outside none none;
}

.kilimanjaro_widget a {
    border: 1px solid #333;
    border-radius: 6px;
    color: #888;
    display: inline-block;
    font-size: 13px;
    margin-bottom: 4px;
    padding: 7px 12px;
}

ul {
    margin: 0;
    padding: 0;
}

.kilimanjaro_links a {
    border-bottom: 1px solid #333;
    color: rgba(255,255,255,.5);
    display: block;
    font-size: 13px;
    margin-bottom: 5px;
    padding-bottom: 10px;
}

.kilimanjaro_links a {
    color: rgba(255,255,255,.5);
    font-size: 13px;
}

top-15 {
    margin-top: 15px;
}

.foo_top_header_one .kilimanjaro_part > h5 {
    color: #fff;
}

.kilimanjaro_part h4, .kilimanjaro_part h5 {
    margin-bottom: 30px;
}

.kilimanjaro_social_links > li {
    display: inline-block;
}

p, ul li, ol li {
    font-weight: 300;
}

.kilimanjaro_social_links a {
    border: 1px solid #333;
    border-radius: 6px;
    color: #888;
    display: inline-block;
    font-size: 13px;
    margin-bottom: 3px;
    padding: 7px 12px;
}

.kilimanjaro_blog_area .kilimanjaro_date {
    color: #27ae60;
    font-size: 13px;
    margin-bottom: 5px;
}

.kilimanjaro_blog_area > p {
    color: rgba(255,255,255,.5);
    line-height: 1.3;
    margin-bottom: 0;
}

.kilimanjaro_works > a {
    display: inline-block;
    float: left;
    position: relative;
    width: 33.33333333%;
    z-index: 1;
}

.kilimanjaro_thumb {
    left: 0;
    position: absolute;
    top: 0;
    width: 75px;
}

.kilimanjaro_links a i {
    padding-right: 10px;
}
/* :: 18.0 Footer Area CSS */

.footer_area {
    position: relative;
    z-index: 1;
}

.footer_bottom p > i,
.footer_bottom p > a:hover {
    color: #27ae60;
}

.social_links_area {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding: 50px 0 30px 0;
    text-align: center;
    position: relative;
    z-index: 1;
}

    .social_links_area > a:hover {
        color: #27ae60;
    }

.inline-style .social_links_area > a:hover {
    background-color: transparent;
    color: #27ae60;
    border: 0px solid transparent;
}

.single_feature:hover .feature_text h4 {
    color: #27ae60;
}

.kilimanjaro_blog_area {
    border-bottom: 1px solid #333;
    margin-bottom: 15px;
    padding: 0 0 15px 90px;
    position: relative;
    z-index: 1;
}

.kilimanjaro_links a {
    border-bottom: 1px solid #333;
    color: #ff0000;
    display: block;
    font-size: 13px;
    margin-bottom: 5px;
    padding-bottom: 10px;
}

/*עיצובים שלי*/
.my-btn-group {
    background-color: goldenrod;
}

.myp {
    text-align: center !important;
    font-weight: bold !important;
}

.mybg-blue {
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/151734/demo6.jpg) center center;
    background-size: cover;
}

.mymargin {
    padding: 40px;
}

.mymarginleft {
    margin-left: 40px;
}

.myvioletcolor {
    color: violet;
}

.myyellowcolor {
    color: yellow;
}

.mybluecolor {
    color: blue;
}

.myredcolor {
    font-size: 30px;
}

.myakwacolor {
    color: aqua;
}

.mygreencolor {
    color: forestgreen;
}

.mygoldcolor {
    color: gold;
}

.myrcolor {
    color: red;
}


.mybtn {
    color: #0400fe;
    font-size: 17px;
    height: 40px;
    width: 40px;
    background-color: white;
}



/***********************************************************/
@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700&subset=latin-ext,vietnamese');



h4 {
    font-weight: 600;
}

p {
    font-size: 12px;
    margin-top: 5px;
}

.price {
    font-size: 30px;
    margin: 0 auto;
    color: #333;
}

.thumbnail {
    opacity: 0.70;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

    .thumbnail:hover {
        opacity: 1.00;
        box-shadow: 0px 0px 10px #4bc6ff;
    }

.line {
    margin-bottom: 5px;
}

@media screen and (max-width: 770px) {
    .right {
        float: left;
        width: 100%;
    }
}

span.thumbnail {
    border: 1px solid #00c4ff !important;
    border-radius: 0px !important;
    -webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.16);
    -moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.16);
    box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.16);
    padding: 10px;
}

.container h4 {
    margin-top: 70px;
    margin-bottom: 30px;
}

button {
    margin-top: 6px;
}

.right {
    float: right;
    border-bottom: 2px solid #0a5971;
}

.btn-info {
    color: #fff;
    background-color: #19b4e2;
    border-color: #19b4e2;
    font-size: 13px;
    font-weight: 600;
}







/*********************** Demo - 16 *******************/
.box16 {
    text-align: center;
    color: #fff;
    position: relative;
    margin-bottom: 30px;
    width: auto;
    height: 500px;
}

    .box16 .box-content, .box16:after {
        width: 100%;

        position: absolute;
        left: 0
    }

    .box16:after {
        content: "";
        height: 100%;
        background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.08) 69%,rgba(0,0,0,.76) 100%);
        top: 0;
        transition: all .5s ease 0s
    }

    .box16 .post, .box16 .title {
        transform: translateY(145px);
        transition: all .4s cubic-bezier(.13,.62,.81,.91) 0s
    }

    .box16:hover:after {
        background: linear-gradient(to bottom,rgba(0,0,0,.01) 0,rgba(0,0,0,.09) 11%,rgba(0,0,0,.12) 13%,rgba(0,0,0,.19) 20%,rgba(0,0,0,.29) 28%,rgba(0,0,0,.29) 29%,rgba(0,0,0,.42) 38%,rgba(0,0,0,.46) 43%,rgba(0,0,0,.53) 47%,rgba(0,0,0,.75) 69%,rgba(0,0,0,.87) 84%,rgba(0,0,0,.98) 99%,rgba(0,0,0,.94) 100%)
    }

    .box16 img {
        width: 100%;
        height: auto;
       
            
    }

    .box16 .box-content {
        padding: 20px;
        margin-bottom: 20px;
        bottom: 0;
        z-index: 1;
        
    }

    .box16 .title {
        font-size: 22px;
        font-weight: 700;
        text-transform: uppercase;
        margin: 0 0 10px
    }

    .box16 .post {
        display: block;
        padding: 8px 0;
        font-size: 15px
    }

    .box16 .social li a, .box17 .icon li a {
        border-radius: 50%;
        font-size: 20px;
        color: #fff
    }

    .box16:hover .post, .box16:hover .title {
        transform: translateY(0)
    }

    .box16 .social {
        list-style: none;
        padding: 0 0 5px;
        margin: 40px 0 25px;
        opacity: 0;
        position: relative;
        transform: perspective(500px) rotateX(-90deg) rotateY(0) rotateZ(0);
        transition: all .6s cubic-bezier(0,0,.58,1) 0s;
    }

    .box16:hover .social {
        opacity: 1;
        transform: perspective(500px) rotateX(0) rotateY(0) rotateZ(0)
    }

    .box16 .social:before {
        content: "";
        width: 50px;
        height: 2px;
        background: #fff;
        margin: 0 auto;
        position: absolute;
        top: -23px;
        left: 0;
        right: 0;
    }

    .box16 .social li {
        display: inline-block;
    }

        .box16 .social li a {
            display: block;
            width: 40px;
            height: 40px;
            line-height: 40px;
            background: #6d3795;
            margin-right: 10px;
            transition: all .3s ease 0s;
            
        }

.box17 .icon li, .box17 .icon li a {
    display: inline-block
}

.box16 .social li a:hover {
    background: #bea041
}

.box16 .social li:last-child a {
    margin-right: 0
}

@media only screen and (max-width:990px) {
    .box16 {
        margin-bottom: 30px
    }
}








