﻿INPUT[type=checkbox]:focus {
    outline: 1px solid rgba(0, 0, 0, 0.2);
}

INPUT[type=checkbox] {
    background-color: #DDD;
    border-radius: 2px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 22px;
    height: 22px;
    cursor: pointer;
    position: relative;
    top: 5px;
}

    INPUT[type=checkbox]:checked {
        background-color: #409fd6;
        background: #409fd6 url("data:image/gif;base64,R0lGODlhCwAKAIABAP////3cnSH5BAEKAAEALAAAAAALAAoAAAIUjH+AC73WHIsw0UCjglraO20PNhYAOw==") 5px 5px no-repeat;
    }
