﻿html body{
    background: url(/app-assets/images/backgrounds/bg-2.jpg) no-repeat center center fixed;
    background-size: cover;
}

.avatar-pic {
    width: 60px;
}

body .content-detached.content-right .content-body {
    margin-right: 0px;
}





Mycode {
    padding-right:0px;
    font-size: 90%;
    color: #F74B5C;
    background-color: #F2F3F5;
    border-radius: 0.25rem; 
}





/*.Class3 {
    animation: background-fade 10s forwards;
    color: black;
}


@keyframes background-fade {
    99.9% {
        background: #6b21f0;
    }

    100% {
        background: #28D094;
    }
}*/


