﻿



.colorcool {
    background-color: #89fffe
}




.colorcool1 {
    background-color: #d5dd77 !important
}

.navigation {
    font-size: 1.4rem;
    font-family: 'Arimo', sans-serif;
}


body .content-detached.content-right .content-body {
    margin-right: 0px;
}


.cartclaud {
    background-color: #d1e5f7;
}

.txtclaud {
    background-color: rgba(235, 235, 235, 0.00);
}

.italya {
    background-image: url('../../pics/nik.jpg');
    background-repeat: no-repeat;
}

.italyacopy {
    background-image: url('../../pics/italyacopy.jpg');
    background-repeat: no-repeat;
}

.yaar {
    background-image: url('../../pics/yaar.jpg');
    background-repeat: no-repeat;
}

.NameKids {
    background-color: #4cff00;
}


.selectivity-input .selectivity-single-select {
    background-color: rgba(235, 235, 235, 0.00);
}


.reka {
    background-image: url('../../pics/reka.jpg');
    background-repeat: no-repeat;
}


.chat-application .chat-app-window {
    padding: 200px 30px;
    overflow-y: scroll;
    text-align: center;
    height: calc(100% - 112px);
    background-color: #FFFFFF;
    position: relative;
}

.bj {
    background-color: #F4F5FA !important;
}




.bgtable {
    background-color: #d1e5f7 !important;
}




.Mycode {
    padding-right: 0px;
    font-size: 90%;
    color: #F74B5C;
    background-color: #F2F3F5;
    border-radius: 0.25rem;
}



.bg-likedate {
    border-color: #23b1e3;
    background-color: #ACDAEC;
    color: #000000;
}

/*.Class3 {
    animation: background-fade 5s forwards;
    color: black;
}


@keyframes background-fade {
    from {
        top: 0px;
    }

    to {
        top: 20px;
    }
    99.9% {
        background: ;
    }

    100% {
        background: #F4F5FA !important;
    }

}*/

.bg-card{
    background-color:#bef9f8;
}


.shneorbachar {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 0;
    border-radius: 4px;
    border-width: 1px;
    min-height: 3.5rem;
    padding: calc(0.5rem - 1px) 1rem;
    background-clip: padding-box;
    background-color: transparent;
    border-color: rgba(0, 0, 0, 0.3);
    border-radius: 0;
    border-style: solid;
    border-width: 0 0 1px;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: rgba(0, 0, 0, 0.87);
    display: block;
    font-size: 1rem;
    line-height: 2.5;
    padding: 0.2rem 1rem calc(0.2rem - 1px);
    width: 100%;
}

.photo {
    background-image: url('../../pics/view.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.bgtable1 {
    background-color: #ACDAEC !important;
}



.soldeen {
    color:black;
    background-color: #FF9149 !important;
    animation: ball-scale-ripple 2s 0s infinite;
}



.yaron {
    display:inline;
}
