﻿body {
}



/*.classLogin {
    animation: background-fade 2s forwards;
}


@keyframes background-fade {
    
    99.9% {
        background: #fac690;
    }

    100% {
        background: #F4F5FA !important;
    }
}*/



.something {
    animation: mymove 1.5s infinite;
    position: relative;
    animation-direction: alternate;
}
@keyframes mymove {
    from {
        left: -50px;
    }

    to {
        left: 50px;
    }
}