﻿html body {
    height: 100%;
    background-color:rgba(152, 251, 251, 0.62) 
    
}




/*.Class4 {
    animation: background-fade 7s forwards;
    color: black;
}


@keyframes background-fade {
    99.8% {
        background: #b6ff00;
    }

    99.9% {
        background: #ff6a00;
    }

    100% {
        background: #F4F5FA !important;
    }

    99.8% {
        background: #b6ff00;
    }
}*/



.something {
    background-color: #FF9149 !important;
    height: 60px;
    width: 60px;
    animation: ball-scale 1s 0s ease-in-out infinite;
    border-radius: 100%;
    margin: 2px;
    display: inline-block;
}