﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="CheckEditProfile.aspx.cs" Inherits="KeepKids.Admin.EditProfile" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
  <head runat="server">
    <title>
    </title>
</head>
<body>
    <form id="form1" runat="server" >
   <%-- דף שבודק מי האדם אשר רוצה לשנות את הנתונים שלו--%>
    </form>
</body>
</html>
