﻿<%@ Page Title="Default" Language="C#" MasterPageFile="~/Admin/Admin.Master" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="KeepKids.Admin.Default" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">

    <link rel="stylesheet" type="text/css" href="/app-assets/css-rtl/plugins/animate/animate.css">
    <link rel="stylesheet" type="text/css" href="/app-assets/fonts/simple-line-icons/style.min.css">
    <link rel="stylesheet" type="text/css" href="/app-assets/css-rtl/core/colors/palette-callout.css">



    <link rel="stylesheet" type="text/css" href="/app-assets/css-rtl/core/colors/palette-gradient.css">
    <!-- BEGIN: Vendor CSS-->
    <link rel="stylesheet" type="text/css" href="/app-assets/vendors/css/weather-icons/climacons.min.css">
    <link rel="stylesheet" type="text/css" href="/app-assets/fonts/meteocons/style.css">
    <link rel="stylesheet" type="text/css" href="/app-assets/vendors/css/charts/morris.css">
    <link rel="stylesheet" type="text/css" href="/app-assets/vendors/css/charts/chartist.css">
    <link rel="stylesheet" type="text/css" href="/app-assets/vendors/css/charts/chartist-plugin-tooltip.css">
    <!-- END: Vendor CSS-->

    <!-- BEGIN: Page CSS-->
    <link rel="stylesheet" type="text/css" href="/app-assets/css-rtl/core/colors/palette-gradient.css">
    <link rel="stylesheet" type="text/css" href="/app-assets/fonts/simple-line-icons/style.css">
    <link rel="stylesheet" type="text/css" href="/app-assets/css-rtl/core/colors/palette-gradient.css">
    <link rel="stylesheet" type="text/css" href="/app-assets/css-rtl/pages/timeline.css">
    <link rel="stylesheet" type="text/css" href="/app-assets/css-rtl/pages/dashboard-ecommerce.css">
    <!-- END: Page CSS-->
    <%--   <style>
        svg {
            overflow: visible;
        }

        #a1, #b2, #c3, #d4 {
            stroke: red;
            stroke-width: 1px;
            fill: transparent;
        }

        #e5, #f6, #g7, #h8 {
            stroke: green;
            stroke-width: 1px;
            fill: transparent;
        }

        #a1 {
            stroke-dasharray: 399px;
            stroke-dashoffset: -399px;
            animation: a1-anim .75s linear 0s forwards,fill-it 0s 4s forwards;
        }
        #b2 {
            stroke-dasharray: 200px;
            stroke-dashoffset: -200px;
            animation: b2-anim .75s linear .80s forwards,fill-it 0s 4s forwards;
        }
        #c3 {
            stroke-dasharray: 200px;
            stroke-dashoffset: -200px;
            animation: c3-anim .75s linear 1.6s forwards,fill-it 0s 4s forwards;
        }
        #d4 {
            stroke-dasharray: 290px;
            stroke-dashoffset: -290px;
            animation: d4-anim .75s linear 2.4s forwards,fill-it 0s 4s forwards;
        }
        #e5 {
            stroke-dasharray: 399px;
            stroke-dashoffset: -399px;
            animation: e5-anim .75s linear 3.2s forwards,fill-it1 0s 4s forwards;
        }
        #f6 {
            stroke-dasharray: 150px;
            stroke-dashoffset: -150px;
            animation: f6-anim .75s linear 3.6s forwards,fill-it1 0s 4s forwards;
        }

        #g7 {
            stroke-dasharray: 255px;
            stroke-dashoffset: -255px;
            animation: g7-anim .75s linear 3.8s forwards,fill-it1 .0s 4s forwards;
        }

        #h8 {
            stroke-dasharray: 230px;
            stroke-dashoffset: -230px;
            animation: h8-anim .75s linear 2.2s forwards,fill-it1 0s 4s forwards;
        }



        @keyframes fill-it {
            100% {
                fill: red;
            }
        }

        @keyframes fill-it1 {
            100% {
                fill: green;
            }
        }



        @keyframes h8-anim {
            from {
                stroke-dashoffset: -230px;
            }

            to {
                stroke-dashoffset: 0px;
            }
        }
        @keyframes g7-anim {
            from {
                stroke-dashoffset: -255px;
            }

            to {
                stroke-dashoffset: 0px;
            }
        }
        @keyframes f6-anim {
            from {
                stroke-dashoffset: -150px;
            }

            to {
                stroke-dashoffset: 0px;
            }
        }
        @keyframes e5-anim {
            from {
                stroke-dashoffset: -399px;
            }

            to {
                stroke-dashoffset: 0px;
            }
        }
        @keyframes d4-anim {
            from {
                stroke-dashoffset: -290px;
            }

            to {
                stroke-dashoffset: 0px;
            }
        }
        @keyframes c3-anim {
            from {
                stroke-dashoffset: -200px;
            }

            to {
                stroke-dashoffset: 0px;
            }
        }
        @keyframes b2-anim {
            from {
                stroke-dashoffset: -200px;
            }

            to {
                stroke-dashoffset: 0px;
            }
        }
        @keyframes a1-anim {
            from {
                stroke-dashoffset: -399px;
            }

            to {
                stroke-dashoffset: 0px;
            }
        }
    </style>--%><%--1--%>
    <%--  <style>
        svg {
            overflow: visible;
        }

        #K1, #E1, #E2, #P {
            stroke: red;
            stroke-width: 1px;
            fill: transparent;
        }

        #K2, #I, #D, #S {
            stroke: green;
            stroke-width: 1px;
            fill: transparent;
        }

        #K1 {
            stroke-dasharray: 621px;
            stroke-dashoffset: -621px;
            animation: K1-anim .75s linear 0s forwards,fill-it 0s 3.8s forwards;

        }

        #E1 {
            stroke-dasharray: 254px;
            stroke-dashoffset: -254px;
            animation: E1-anim .75s linear .80s forwards,fill-it 0s 3.8s forwards;
        }

        #E2 {
            stroke-dasharray: 254px;
            stroke-dashoffset: -254px;
            animation: E2-anim .75s linear 1.6s forwards,fill-it 0s 3.8s forwards;
        }

        #P {
            stroke-dasharray: 357px;
            stroke-dashoffset: -357px;
            animation: P-anim .75s linear 2.4s forwards,fill-it 0s 3.8s forwards;
        }

        #K2 {
            stroke-dasharray: 621px;
            stroke-dashoffset: -621px;
            animation: K2-anim .75s linear 2.4s forwards,fill-it1 0s 3.8s forwards;
        }

        #I {
            stroke-dasharray: 100px;
            stroke-dashoffset: -100px;
            animation: I-anim .75s linear 1.6s forwards,fill-it1 0s 3.8s forwards;
        }

        #D {
            stroke-dasharray: 321px;
            stroke-dashoffset: -321px;
            animation: D-anim .75s linear .80s forwards,fill-it1 .0s 3.8s forwards;
        }

        #S {
            stroke-dasharray: 111px;
            stroke-dashoffset: -111px;
            animation: D-anim .75s linear 0s forwards,fill-it1 0s 3.8s forwards;
        }



        @keyframes fill-it {
            100% {
                fill: red;
            }
        }

        @keyframes fill-it1 {
            100% {
                fill: green;
            }
        }



        @keyframes K1-anim {
            from {
                stroke-dashoffset: -621px;
            }

            to {
                stroke-dashoffset: 0px;
            }
        }

        @keyframes E1-anim {
            from {
                stroke-dashoffset: -254px;
            }

            to {
                stroke-dashoffset: 0px;
            }
        }

        @keyframes E2-anim {
            from {
                stroke-dashoffset: -254px;
            }

            to {
                stroke-dashoffset: 0px;
            }
        }

        @keyframes P-anim {
            from {
                stroke-dashoffset: -357px;
            }

            to {
                stroke-dashoffset: 0px;
            }
        }

        @keyframes K2-anim {
            from {
                stroke-dashoffset: -621px;
            }

            to {
                stroke-dashoffset: 0px;
            }
        }

        @keyframes I-anim {
            from {
                stroke-dashoffset: -100px;
            }

            to {
                stroke-dashoffset: 0px;
            }
        }

        @keyframes D-anim {
            from {
                stroke-dashoffset: -321px;
            }

            to {
                stroke-dashoffset: 0px;
            }
        }

        @keyframes S-anim {
            from {
                stroke-dashoffset: -111px;
            }

            to {
                stroke-dashoffset: 0px;
            }
        }
    </style>--%><%--2--%>
    <style>
        svg {
            overflow: visible;
        }

        #K1, #E1, #E2, #P {
            stroke: red;
            stroke-width: 1px;
            fill: transparent;
        }

        #K2, #I, #D, #S {
            stroke: green;
            stroke-width: 1px;
            fill: transparent;
        }

        #K1 {
            stroke-dasharray: 823px;
            stroke-dashoffset: -823px;
            animation: K1-anim .75s linear 0s forwards,fill-it 0s 1.5s forwards;
        }

        #E1 {
            stroke-dasharray: 730px;
            stroke-dashoffset: -730px;
            animation: E1-anim .75s linear .80s forwards,fill-it 0s 1.7s forwards;
        }

        #E2 {
            stroke-dasharray: 730px;
            stroke-dashoffset: -730px;
            animation: E2-anim .75s linear .80s forwards,fill-it 0s 1.9s forwards;
        }

        #P {
            stroke-dasharray: 960px;
            stroke-dashoffset: -960px;
            animation: P-anim .75s linear .80s forwards,fill-it 0s 2.1s forwards;
        }

        #K2 {
            stroke-dasharray: 823px;
            stroke-dashoffset: -823px;
            animation: K2-anim .75s linear 0s forwards,fill-it1 0s 2.3s forwards;
        }

        #I {
            stroke-dasharray: 600px;
            stroke-dashoffset: -600px;
            animation: I-anim .75s linear .80s forwards,fill-it1 0s 2.5s forwards;
        }

        #D {
            stroke-dasharray: 621px;
            stroke-dashoffset: -621px;
            animation: D-anim .75s linear .80s forwards,fill-it1 .0s 2.7s forwards;
        }

        #S {
            stroke-dasharray: 611px;
            stroke-dashoffset: -611px;
            animation: D-anim .75s linear .80s forwards,fill-it1 0s 2.9s forwards;
        }


        @keyframes fill-it {
            70% {
                fill: gold;
            }

            80% {
                fill: olive;
            }

            90% {
                fill: orange;
            }

            100% {
                fill: red;
            }
        }

        @keyframes fill-it1 {

            100% {
                fill: green;
            }
        }



        @keyframes K1-anim {
            from {
                stroke-dashoffset: -823px;
            }

            to {
                stroke-dashoffset: 0px;
            }
        }

        @keyframes E1-anim {
            from {
                stroke-dashoffset: -730px;
            }

            to {
                stroke-dashoffset: 0px;
            }
        }

        @keyframes E2-anim {
            from {
                stroke-dashoffset: -730px;
            }

            to {
                stroke-dashoffset: 0px;
            }
        }

        @keyframes P-anim {
            from {
                stroke-dashoffset: -960px;
            }

            to {
                stroke-dashoffset: 0px;
            }
        }

        @keyframes K2-anim {
            from {
                stroke-dashoffset: -823px;
            }

            to {
                stroke-dashoffset: 0px;
            }
        }

        @keyframes I-anim {
            from {
                stroke-dashoffset: -600px;
            }

            to {
                stroke-dashoffset: 0px;
            }
        }

        @keyframes D-anim {
            from {
                stroke-dashoffset: -621px;
            }

            to {
                stroke-dashoffset: 0px;
            }
        }

        @keyframes S-anim {
            from {
                stroke-dashoffset: -611px;
            }

            to {
                stroke-dashoffset: 0px;
            }
        }
    </style>
    <%--3--%>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="Main" runat="server">

    <div class="text-center">
        <h1 class="text-center display-3 visible-xs (only) = d-block d-sm-none"><b class="text-success b"><span class="text-danger">Keep</span>Kids</b></h1>
        <h1 class="text-center display-1 hidden-xs (only) = d-none d-sm-block (same as hidden-xs-down)">
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 1920 233" xml:space="preserve">
                <path id="K1" d="M532.46 119.14v-3.22h57.34v3.22c-4.28.35-8.65 1.13-13.09 2.34a95.38 95.38 0 00-13.18 4.66c-4.35 1.9-9.27 4.29-14.77 7.18l-23.11 12.48 50.82 38.85c3.77 2.89 6.77 5 9.01 6.33s4.52 2.33 6.86 3.02c2.33.68 5.03 1.14 8.1 1.38v3.22H536v-3.22c10.23 0 15.34-1.41 15.34-4.22 0-.98-.51-1.98-1.53-3.02-1.02-1.03-2.4-2.2-4.12-3.49l-37.97-29-11.98 6.56v22.44c0 3.2.78 5.65 2.35 7.32 1.57 1.68 4.39 2.66 8.49 2.93 2.11.08 3.85.17 5.23.26 1.37.1 2.57.17 3.6.21v3.22H450v-3.22h2.97c5.62 0 9.78-.41 12.46-1.23 2.68-.82 4.41-2 5.18-3.54.77-1.54 1.15-3.6 1.15-6.18v-55.08c0-2.62-.48-4.62-1.44-6.01-.96-1.39-2.99-2.43-6.09-3.13-3.1-.7-7.85-1.05-14.24-1.05v-3.22h65.39v3.22h-1.34c-7.48 0-12.4.72-14.77 2.17-2.37 1.45-3.55 3.89-3.55 7.32v29.18l38.93-21.27c4.35-2.38 7.62-4.48 9.83-6.3 2.21-1.82 3.31-3.54 3.31-5.19 0-1.76-1.01-3.18-3.02-4.28-2.01-1.09-4.87-1.64-8.58-1.64h-3.73zm-51.4 66.04v-55.37c0-4.3-.77-7.16-2.3-8.58-1.53-1.43-5.24-2.12-11.12-2.08 3.13.86 5.13 1.91 5.99 3.16.86 1.25 1.29 4.08 1.29 8.5v55.31c0 2.93-.53 5-1.58 6.21s-3.21 2.23-6.47 3.05h2.4c3.9 0 6.68-.38 8.34-1.14 1.66-.76 2.65-1.8 2.97-3.11.32-1.31.48-3.29.48-5.95zm72.39-3.52l-38.83-29.77-4.31 2.4 36.15 28.13c2.75 2.03 4.78 3.71 6.09 5.04 1.31 1.33 1.97 2.64 1.97 3.93 0 1.68-1.57 3.01-4.7 3.98h2.49c2.56 0 4.63-.47 6.23-1.41 1.6-.94 2.4-2.03 2.4-3.28-.01-2.22-2.5-5.23-7.49-9.02zm15.54-62.52h-22.53c3 1.52 4.51 3.2 4.51 5.04 0 1.17-.48 2.38-1.44 3.63 4.35-2.42 7.77-4.23 10.26-5.42 2.48-1.18 5.55-2.27 9.2-3.25z" />
                <path id="E1" d="M682.7 184.07l3.84 1.82c-2.88 3.28-6.3 5.98-10.26 8.09-3.96 2.11-8.33 3.67-13.09 4.69-4.76 1.02-9.73 1.52-14.91 1.52-7.03 0-13.57-1.04-19.61-3.11s-10.82-5.06-14.33-8.96c-3.52-3.91-5.27-8.34-5.27-13.3 0-3.91 1.07-7.58 3.21-11.02 2.14-3.44 5.11-6.46 8.92-9.08 3.8-2.62 8.21-4.66 13.23-6.12s10.37-2.2 16.06-2.2c5.75 0 11.23.73 16.44 2.2 5.21 1.46 9.35 3.49 12.42 6.06 2.24 1.88 3.85 3.8 4.84 5.77.99 1.97 1.77 4.35 2.35 7.12h-57.91c.25 4.06 1.39 7.5 3.4 10.31 2.01 2.81 4.63 5.08 7.86 6.8 3.23 1.72 6.66 2.95 10.31 3.69 3.64.74 7.13 1.11 10.45 1.11 8.05 0 15.4-1.8 22.05-5.39zm-52.64-31.82c-11.95 5.78-17.93 13.36-17.93 22.73 0 6.8 3.56 12.35 10.69 16.67 7.13 4.32 15.36 6.47 24.69 6.47 5.43 0 10.88-.67 16.35-2.02 5.47-1.35 10.08-3.35 13.85-6.01-3.9 1.52-7.88 2.76-11.94 3.72-4.06.96-8.9 1.44-14.53 1.44-9.52 0-17.47-2.03-23.83-6.09-6.36-4.06-9.54-9.35-9.54-15.88 0-4.14 1.05-7.85 3.16-11.13 2.13-3.28 5.13-6.58 9.03-9.9zm-.86 11.54h33.46v-1.93c0-2.27-.67-4.29-2.01-6.06-1.34-1.78-3.18-3.14-5.51-4.1-2.33-.96-5-1.44-8.01-1.44-4.86 0-8.98 1.32-12.37 3.96-3.39 2.63-5.24 5.82-5.56 9.57zm36.53 0h6.71c-.19-4.37-1.66-7.61-4.41-9.7-2.75-2.09-7.35-3.49-13.81-4.19 4.09 1.13 7.03 2.61 8.82 4.42 1.79 1.82 2.68 4.58 2.68 8.29v1.18z" />
                <path id="E2" d="M770.72 184.07l3.84 1.82c-2.88 3.28-6.3 5.98-10.26 8.09-3.96 2.11-8.33 3.67-13.09 4.69-4.76 1.02-9.73 1.52-14.91 1.52-7.03 0-13.57-1.04-19.61-3.11s-10.82-5.06-14.33-8.96c-3.52-3.91-5.27-8.34-5.27-13.3 0-3.91 1.07-7.58 3.21-11.02 2.14-3.44 5.11-6.46 8.92-9.08 3.8-2.62 8.21-4.66 13.23-6.12s10.37-2.2 16.06-2.2c5.75 0 11.23.73 16.44 2.2 5.21 1.46 9.35 3.49 12.42 6.06 2.24 1.88 3.85 3.8 4.84 5.77.99 1.97 1.77 4.35 2.35 7.12h-57.91c.25 4.06 1.39 7.5 3.4 10.31 2.01 2.81 4.63 5.08 7.86 6.8 3.23 1.72 6.66 2.95 10.31 3.69 3.64.74 7.13 1.11 10.45 1.11 8.05 0 15.4-1.8 22.05-5.39zm-52.64-31.82c-11.95 5.78-17.93 13.36-17.93 22.73 0 6.8 3.56 12.35 10.69 16.67 7.13 4.32 15.36 6.47 24.69 6.47 5.43 0 10.88-.67 16.35-2.02 5.47-1.35 10.08-3.35 13.85-6.01-3.9 1.52-7.88 2.76-11.94 3.72-4.06.96-8.9 1.44-14.53 1.44-9.52 0-17.47-2.03-23.83-6.09-6.36-4.06-9.54-9.35-9.54-15.88 0-4.14 1.05-7.85 3.16-11.13 2.13-3.28 5.13-6.58 9.03-9.9zm-.86 11.54h33.46v-1.93c0-2.27-.67-4.29-2.01-6.06-1.34-1.78-3.18-3.14-5.51-4.1-2.33-.96-5-1.44-8.01-1.44-4.86 0-8.98 1.32-12.37 3.96-3.39 2.63-5.25 5.82-5.56 9.57zm36.53 0h6.71c-.19-4.37-1.66-7.61-4.41-9.7-2.75-2.09-7.35-3.49-13.81-4.19 4.09 1.13 7.03 2.61 8.82 4.42 1.79 1.82 2.68 4.58 2.68 8.29v1.18z" />
                <path id="P" d="M816.07 146.39v6.39c4.47-2.03 8.79-3.6 12.94-4.72 4.15-1.11 8.82-1.67 14-1.67 4.99 0 9.83.66 14.53 1.99 4.7 1.33 8.82 3.16 12.37 5.51s6.39 5.18 8.53 8.5c2.14 3.32 3.21 6.84 3.21 10.55 0 5.16-1.98 9.81-5.94 13.95-3.96 4.14-9.41 7.37-16.35 9.7-6.94 2.32-14.69 3.49-23.25 3.49-6.71 0-13.39-.88-20.04-2.64v20.27c0 1.52.25 2.74.77 3.66.51.92 1.6 1.59 3.26 2.02 1.66.43 3.99.64 7 .64h4.89v3.22h-50.05v-3.34c3.26-.08 5.69-.22 7.29-.41 1.6-.2 2.81-.66 3.64-1.41.83-.74 1.25-1.86 1.25-3.34v-55.43c0-3.01-.98-5.28-2.92-6.83-1.95-1.54-5.23-2.78-9.83-3.72v-2.4l30.97-3.98h3.73zm-12.56 69.26v-52.91c0-3.63-1.18-6.27-3.55-7.91-2.37-1.64-6.3-2.32-11.79-2.05 3.58 1.21 5.99 2.49 7.24 3.84 1.25 1.35 1.87 3.51 1.87 6.47v55.2c0 1.56-.29 2.8-.86 3.72-.58.92-1.66 1.75-3.26 2.49 4.35-.23 7.16-1 8.44-2.29 1.27-1.29 1.91-3.48 1.91-6.56zm12.56-58.6v34.57c6.07 3.44 11.82 5.16 17.26 5.16 4.41 0 8.44-.82 12.08-2.46 3.64-1.64 6.57-4.13 8.77-7.47 2.21-3.34 3.31-7.43 3.31-12.28 0-4.73-1.05-8.72-3.16-11.98-2.11-3.26-5-5.71-8.68-7.35-3.68-1.64-7.78-2.46-12.32-2.46-5.57 0-11.32 1.42-17.26 4.27zm15.34-6.09h2.3c8.12 0 14.64 2.06 19.56 6.18 4.92 4.12 7.38 9.93 7.38 17.43 0 5.78-1.22 10.23-3.64 13.36-2.43 3.13-5.79 5.76-10.07 7.91 4.47-1.02 8.18-2.5 11.12-4.45 2.94-1.95 5.16-4.39 6.66-7.32 1.5-2.93 2.25-6.21 2.25-9.84 0-4.37-.88-8.19-2.64-11.46-1.76-3.26-3.98-5.83-6.66-7.71s-5.55-3.25-8.58-4.13c-3.04-.88-5.93-1.32-8.68-1.32-2.74 0-5.74.45-9 1.35z" />
                <path id="K2" d="M974.27 119.14v-3.22h57.34v3.22c-4.28.35-8.65 1.13-13.09 2.34a95.38 95.38 0 00-13.18 4.66c-4.35 1.9-9.27 4.29-14.77 7.18l-23.11 12.48 50.82 38.85c3.77 2.89 6.77 5 9.01 6.33s4.52 2.33 6.86 3.02c2.33.68 5.03 1.14 8.1 1.38v3.22h-64.43v-3.22c10.23 0 15.34-1.41 15.34-4.22 0-.98-.51-1.98-1.53-3.02-1.02-1.03-2.4-2.2-4.12-3.49l-37.97-29-11.98 6.56v22.44c0 3.2.78 5.65 2.35 7.32 1.57 1.68 4.39 2.66 8.49 2.93 2.11.08 3.85.17 5.23.26 1.37.1 2.57.17 3.6.21v3.22h-65.39v-3.22h2.97c5.62 0 9.78-.41 12.46-1.23s4.41-2 5.18-3.54c.77-1.54 1.15-3.6 1.15-6.18v-55.08c0-2.62-.48-4.62-1.44-6.01-.96-1.39-2.99-2.43-6.09-3.13-3.1-.7-7.85-1.05-14.24-1.05v-3.22h65.39v3.22h-1.34c-7.48 0-12.4.72-14.77 2.17-2.37 1.45-3.55 3.89-3.55 7.32v29.18l38.93-21.27c4.35-2.38 7.62-4.48 9.83-6.3 2.21-1.82 3.31-3.54 3.31-5.19 0-1.76-1.01-3.18-3.02-4.28-2.01-1.09-4.87-1.64-8.58-1.64h-3.76zm-51.39 66.04v-55.37c0-4.3-.77-7.16-2.3-8.58-1.53-1.43-5.24-2.12-11.12-2.08 3.13.86 5.13 1.91 5.99 3.16.86 1.25 1.29 4.08 1.29 8.5v55.31c0 2.93-.53 5-1.58 6.21s-3.21 2.23-6.47 3.05h2.4c3.9 0 6.68-.38 8.34-1.14 1.66-.76 2.65-1.8 2.97-3.11.32-1.31.48-3.29.48-5.95zm72.39-3.52l-38.83-29.77-4.31 2.4 36.15 28.13c2.75 2.03 4.78 3.71 6.09 5.04 1.31 1.33 1.97 2.64 1.97 3.93 0 1.68-1.57 3.01-4.7 3.98h2.49c2.56 0 4.63-.47 6.23-1.41 1.6-.94 2.4-2.03 2.4-3.28-.02-2.22-2.51-5.23-7.49-9.02zm15.53-62.52h-22.53c3 1.52 4.51 3.2 4.51 5.04 0 1.17-.48 2.38-1.44 3.63 4.35-2.42 7.77-4.23 10.26-5.42 2.49-1.18 5.55-2.27 9.2-3.25z" />
                <path id="I" d="M1082.61 146.39v42.36c0 1.8.3 3.15.91 4.07.61.92 1.76 1.55 3.45 1.9 1.69.35 4.3.57 7.81.64v3.22H1050v-3.22c3.96-.08 6.73-.57 8.29-1.46 1.57-.9 2.35-2.5 2.35-4.8v-26.89c0-1.68-.93-3.24-2.78-4.69-1.85-1.44-4.48-2.52-7.86-3.22v-1.88l28.67-6.04h3.94zm-18.79 16v27.83c0 2.27-1.31 3.98-3.93 5.16 3.51 0 6.09-.49 7.72-1.46 1.63-.98 2.44-2.58 2.44-4.8v-27.48c0-2.5-.99-4.42-2.97-5.77-1.98-1.35-4.57-2.02-7.77-2.02-1.47 0-2.65.04-3.55.12 5.37 1.7 8.06 4.51 8.06 8.42zm7-44.53c2.43 0 4.7.36 6.81 1.08 2.11.72 3.77 1.71 4.99 2.96 1.21 1.25 1.82 2.62 1.82 4.1 0 1.48-.61 2.86-1.82 4.13-1.22 1.27-2.88 2.28-4.99 3.02-2.11.74-4.38 1.11-6.81 1.11-3.64 0-6.78-.82-9.4-2.46-2.62-1.64-3.93-3.57-3.93-5.8 0-1.44.59-2.8 1.77-4.07 1.18-1.27 2.81-2.27 4.89-2.99 2.08-.72 4.3-1.08 6.67-1.08zm1.63 1.87c-3.77 0-6.68.55-8.72 1.64-2.05 1.09-3.07 2.6-3.07 4.51 0 1.84.99 3.35 2.97 4.54 1.98 1.19 4.92 1.85 8.82 1.96-2.05-1.13-3.55-2.14-4.51-3.02-.96-.88-1.44-2-1.44-3.37 0-2.53 1.98-4.62 5.95-6.26z" />
                <path id="D" d="M1157.3 120.96l29.63-5.98h3.93v73.07c0 2.07.91 3.47 2.73 4.19 1.82.72 4.97 1.08 9.44 1.08v3.11l-34.04 3.75v-6.86c-9.27 4.57-18.67 6.86-28.19 6.86-5.31 0-10.26-.68-14.86-2.05-4.6-1.37-8.57-3.29-11.89-5.77-3.32-2.48-5.87-5.33-7.62-8.55-1.76-3.22-2.64-6.61-2.64-10.17 0-5.12 2-9.77 5.99-13.95s9.4-7.44 16.2-9.79c6.81-2.34 14.4-3.52 22.77-3.52 5.94 0 12.69.84 20.23 2.52v-14.4c0-3.2-.66-5.55-1.97-7.03-1.31-1.48-4.55-2.85-9.73-4.1v-2.41zm-18.5 28.18c-5.37.7-9.88 1.8-13.52 3.28-5.56 2.11-10 5.14-13.33 9.08-3.32 3.95-4.99 8.14-4.99 12.6 0 4.3 1.45 8.29 4.36 11.98 2.91 3.69 7.01 6.62 12.32 8.79 5.3 2.17 11.22 3.25 17.74 3.25 4.47 0 8.47-.41 11.98-1.23-2.94.16-4.79.23-5.56.23-4.22 0-8.39-.53-12.51-1.58s-7.88-2.61-11.27-4.66c-3.39-2.05-6.06-4.5-8.01-7.35-1.95-2.85-2.92-5.96-2.92-9.32.01-10.42 8.58-18.78 25.71-25.07zm30.2 39.97v-34.34c-2.24-1.64-4.84-2.91-7.81-3.81-2.97-.9-5.99-1.35-9.06-1.35-4.54 0-8.73.85-12.56 2.55-3.84 1.7-6.86 4.26-9.06 7.68-2.21 3.42-3.31 7.67-3.31 12.74 0 4.3.99 8.02 2.97 11.16 1.98 3.15 4.76 5.53 8.34 7.15s7.67 2.43 12.27 2.43c6.58 0 12.66-1.4 18.22-4.21zm-4.12-66.57h-3.26c4.79 1.29 7.75 2.69 8.87 4.19 1.12 1.5 1.68 3.51 1.68 6.01v64.51c2.11-.55 3.66-1.19 4.65-1.93.99-.74 1.49-1.85 1.49-3.34v-59.12c0-3.52-.86-6.11-2.59-7.79-1.74-1.69-5.35-2.53-10.84-2.53z" />
                <path id="S" d="M1212.14 195.73v-15.35h5.18c4.86 5.27 9.94 9.25 15.24 11.92 5.3 2.68 10.48 4.01 15.53 4.01 3.26 0 6.17-.64 8.72-1.93 2.56-1.29 3.84-2.75 3.84-4.39 0-2.15-.96-3.63-2.88-4.45-7.22-2.93-14.16-5.18-20.81-6.74-17.58-3.98-26.37-9.67-26.37-17.05 0-4.37 2.75-8.03 8.25-10.96 5.5-2.93 12.91-4.39 22.24-4.39 4.73 0 9.14.3 13.23.91 4.09.61 8.63 1.48 13.61 2.61l.96 13.89h-4.7c-5.18-4.69-10.31-8.22-15.39-10.61-5.08-2.38-10.08-3.57-15.01-3.57-3.07 0-5.61.62-7.62 1.85s-3.02 2.59-3.02 4.07c0 1.91 1.25 3.43 3.74 4.54 2.49 1.11 7.73 2.76 15.72 4.95 7.99 2.19 14.99 4.3 21 6.33 3.77 1.21 6.77 2.91 9.01 5.1 2.24 2.19 3.36 4.57 3.36 7.15 0 3.01-1.42 5.78-4.27 8.32-2.85 2.54-6.78 4.55-11.79 6.04-5.02 1.48-10.66 2.23-16.92 2.23-8.86-.03-19.15-1.52-30.85-4.48zm50.53-2.76c1.73-.98 3-1.86 3.84-2.67.83-.8 1.25-1.88 1.25-3.25 0-4.18-4.99-7.5-14.96-9.96-8.95-2.27-16.01-4.27-21.19-6.01-5.18-1.74-8.92-3.53-11.22-5.39-2.3-1.85-3.45-4.17-3.45-6.94 0-1.68.77-3.55 2.3-5.63-1.66 1.25-2.99 2.49-3.98 3.72-.99 1.23-1.49 2.74-1.49 4.54 0 3.71 2.17 6.72 6.52 9.02 4.35 2.31 10.8 4.64 19.37 7 8.56 2.36 14.73 4.3 18.5 5.8 3.77 1.5 5.66 3.58 5.66 6.24 0 .99-.38 2.17-1.15 3.53zm-46.98-7.44v7.32c3.2.86 8.5 1.9 15.92 3.11-3.96-1.68-6.9-3.18-8.82-4.51-1.92-1.33-4.29-3.3-7.1-5.92zm46.22-26.89l-.86-6.74c-4.22-1.05-7.51-1.78-9.88-2.17-2.37-.39-5.82-.59-10.35-.59 4.79 1.02 8.61 2.2 11.46 3.54 2.83 1.36 6.05 3.34 9.63 5.96z" />
            </svg><%--3--%>
            <%--<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 1920 226" xml:space="preserve">
        <path id="K1" d="M873.35 111.57l-5.16 5.16-.75-.54c0-2.04-.73-3.81-2.2-5.32-1.47-1.5-3.01-2.26-4.62-2.26-1.97 0-3.81.76-5.51 2.28-1.7 1.52-3.89 5.61-6.58 12.27-3.9 9.63-7.66 16.4-11.28 20.3 1.73.89 3.26 2.03 4.61 3.41 1.35 1.38 2.71 3.82 4.07 7.33l4.67 11.44c1.64 4.01 2.62 6.27 2.94 6.77.32.5.94 1.07 1.87 1.69.93.63 1.91.94 2.94.94 3.28 0 6.77-2.65 10.48-7.95l1.77 1.34c-4.79 7.41-10.06 11.12-15.81 11.12-3.07 0-5.67-1.55-7.8-4.65-2.13-3.1-4.03-8.23-5.71-15.39-1.65-7.16-3.76-11.85-6.34-14.07-1.65 1-3.19 1.5-4.62 1.5l-1.02-.11v4.4c0 7.66-2.24 14.25-6.72 19.77-4.48 5.51-9.95 8.27-16.4 8.27-6.88 0-12.42-3.19-16.62-9.56l6.39-5.91.75.64c-.14.21-.21.66-.21 1.34 0 3.47 1.01 6.2 3.03 8.19 2.02 1.99 4.68 2.98 7.98 2.98 4.48 0 8.15-1.77 11.04-5.32 2.88-3.54 4.32-8.63 4.32-15.25 0-2.54-.43-6.61-1.29-12.19-.82-5.59-1.24-10.03-1.24-13.32 0-6.09 1.29-11.44 3.87-16.06-2.94 2.22-5.73 3.33-8.38 3.33-3.29 0-6.52-1.35-9.67-4.05-2.69-2.35-5.48-3.52-8.38-3.52-2.87 0-5.32 1.14-7.36 3.43s-3.06 5.07-3.06 8.36c0 2.89.88 5.26 2.63 7.1 1.75 1.84 3.99 2.76 6.71 2.76 3.26 0 5.96-1.32 8.11-3.97l.91.64c-1.97 5.44-5.39 8.16-10.26 8.16-3.29 0-5.97-1.14-8.03-3.41-2.06-2.27-3.09-5.27-3.09-9 0-5.19 1.84-9.59 5.53-13.19 3.69-3.6 7.68-5.4 11.98-5.4 3.44 0 6.96 1.61 10.58 4.83 2.69 2.33 5 3.49 6.93 3.49 2.79 0 5.73-2.24 8.81-6.71l1.4 1.02c-3.22 4.4-4.83 9.45-4.83 15.15 0 2.72.56 6.2 1.68 10.42 1.16 4.19 1.94 7.25 2.34 9.18 1.18-.54 2.58-.81 4.19-.81l1.83.16c1.38-1.32 2.67-2.95 3.86-4.89 1.19-1.93 2.57-5.3 4.15-10.1 1.61-4.8 3.19-8.6 4.73-11.41 1.54-2.81 3.68-5.2 6.42-7.17 2.74-1.97 5.59-2.95 8.57-2.95 3.98.05 7.59 1.8 10.85 5.31zm-40.71 32.87c-1.75 0-2.87.27-3.33.81.46.14.84.21 1.13.21.78 0 1.52-.34 2.2-1.02z" />
        <path id="E1" d="M897.41 169.74c-2.11 3.44-4.42 5.94-6.93 7.49-2.51 1.56-5.8 2.34-9.88 2.34-2.97 0-5.33-.89-7.06-2.66-1.74-1.77-2.6-4.27-2.6-7.49 0-.86.07-1.77.21-2.74-1.29 1.65-2.27 2.97-2.95 3.97l-1.77-1.24c4.65-6.59 8.24-10.91 10.74-12.97 2.51-2.06 5.08-3.09 7.73-3.09 1.47 0 2.68.43 3.63 1.29.95.86 1.42 1.97 1.42 3.33 0 4.66-4.1 9.24-12.3 13.75 1.11 2.58 3.42 3.87 6.93 3.87 1.68 0 3.55-.61 5.61-1.83 2.06-1.22 3.93-2.99 5.61-5.32l1.61 1.3zm-20.78-.11c5.94-2.9 8.92-6.12 8.92-9.67 0-1.07-.3-1.95-.89-2.63-.59-.68-1.39-1.02-2.39-1.02-1.83 0-3.37.84-4.62 2.52-1.25 1.68-1.88 3.71-1.88 6.07 0 1.29.14 2.38.43 3.28.28.86.43 1.35.43 1.45z" />
        <path id="E2" d="M925.99 169.74c-2.11 3.44-4.42 5.94-6.93 7.49-2.51 1.56-5.8 2.34-9.88 2.34-2.97 0-5.33-.89-7.06-2.66-1.74-1.77-2.6-4.27-2.6-7.49 0-.86.07-1.77.21-2.74-1.29 1.65-2.27 2.97-2.95 3.97l-1.77-1.24c4.65-6.59 8.24-10.91 10.74-12.97 2.51-2.06 5.08-3.09 7.73-3.09 1.47 0 2.68.43 3.63 1.29.95.86 1.42 1.97 1.42 3.33 0 4.66-4.1 9.24-12.3 13.75 1.11 2.58 3.42 3.87 6.93 3.87 1.68 0 3.55-.61 5.61-1.83 2.06-1.22 3.93-2.99 5.61-5.32l1.61 1.3zm-20.79-.11c5.94-2.9 8.92-6.12 8.92-9.67 0-1.07-.3-1.95-.89-2.63-.59-.68-1.39-1.02-2.39-1.02-1.83 0-3.37.84-4.62 2.52-1.25 1.68-1.88 3.71-1.88 6.07 0 1.29.14 2.38.43 3.28.29.86.43 1.35.43 1.45z" />
        <path id="P" d="M935.87 158.89c3.65-3.69 7.21-5.53 10.69-5.53 2.76 0 4.95.97 6.58 2.9s2.44 4.49 2.44 7.68c0 4.08-1.33 7.65-4 10.69-2.67 3.04-5.7 4.57-9.1 4.57-2.47 0-4.67-.73-6.61-2.2v20.68c0 4.26-1.18 7.6-3.54 10.02s-5.25 3.63-8.65 3.63c-3.58 0-6.37-1.54-8.38-4.62l4.4-4.35.91.75c-.25.64-.38 1.16-.38 1.56 0 1.32.44 2.48 1.32 3.46.88.98 1.98 1.48 3.3 1.48 3.54 0 5.32-3.56 5.32-10.69v-36.63c-1.29 2.97-2.97 5.8-5.05 8.49l-1.56-1.34c2.94-4.01 5.14-8.56 6.61-13.64l5.69-2.85v5.94zm0 15.36c1.83 1.75 3.99 2.63 6.5 2.63 2.33 0 4.31-1 5.94-3.01 1.63-2 2.44-4.51 2.44-7.52 0-2.58-.71-4.64-2.12-6.18-1.42-1.54-3.21-2.31-5.4-2.31-2.83 0-5.28 1.5-7.36 4.51v11.88zm27.82-4.51c-3.94 6.23-9.17 9.72-15.68 10.47l-.48-1.24c5.76-1.29 10.62-4.8 14.56-10.53l1.6 1.3z" />
        <path id="K2" d="M1056.34 111.57l-5.16 5.16-.75-.54c0-2.04-.73-3.81-2.2-5.32-1.47-1.5-3.01-2.26-4.62-2.26-1.97 0-3.81.76-5.51 2.28-1.7 1.52-3.89 5.61-6.58 12.27-3.9 9.63-7.66 16.4-11.28 20.3 1.73.89 3.26 2.03 4.61 3.41 1.35 1.38 2.71 3.82 4.07 7.33l4.67 11.44c1.64 4.01 2.62 6.27 2.94 6.77.32.5.94 1.07 1.87 1.69.93.63 1.91.94 2.94.94 3.28 0 6.77-2.65 10.48-7.95l1.77 1.34c-4.79 7.41-10.06 11.12-15.81 11.12-3.07 0-5.67-1.55-7.8-4.65-2.13-3.1-4.03-8.23-5.71-15.39-1.65-7.16-3.76-11.85-6.34-14.07-1.65 1-3.19 1.5-4.62 1.5l-1.02-.11v4.4c0 7.66-2.24 14.25-6.72 19.77-4.48 5.51-9.95 8.27-16.4 8.27-6.88 0-12.42-3.19-16.62-9.56l6.39-5.91.75.64c-.14.21-.21.66-.21 1.34 0 3.47 1.01 6.2 3.03 8.19 2.02 1.99 4.68 2.98 7.98 2.98 4.48 0 8.15-1.77 11.04-5.32 2.88-3.54 4.32-8.63 4.32-15.25 0-2.54-.43-6.61-1.29-12.19-.82-5.59-1.24-10.03-1.24-13.32 0-6.09 1.29-11.44 3.87-16.06-2.94 2.22-5.73 3.33-8.38 3.33-3.29 0-6.52-1.35-9.67-4.05-2.69-2.35-5.48-3.52-8.38-3.52-2.87 0-5.32 1.14-7.36 3.43s-3.06 5.07-3.06 8.36c0 2.89.88 5.26 2.63 7.1 1.75 1.84 3.99 2.76 6.71 2.76 3.26 0 5.96-1.32 8.11-3.97l.91.64c-1.97 5.44-5.39 8.16-10.26 8.16-3.29 0-5.97-1.14-8.03-3.41-2.06-2.27-3.09-5.27-3.09-9 0-5.19 1.84-9.59 5.53-13.19 3.69-3.6 7.68-5.4 11.98-5.4 3.44 0 6.96 1.61 10.58 4.83 2.69 2.33 5 3.49 6.93 3.49 2.79 0 5.73-2.24 8.81-6.71l1.4 1.02c-3.22 4.4-4.83 9.45-4.83 15.15 0 2.72.56 6.2 1.68 10.42 1.16 4.19 1.94 7.25 2.34 9.18 1.18-.54 2.58-.81 4.19-.81l1.83.16c1.38-1.32 2.67-2.95 3.86-4.89 1.19-1.93 2.57-5.3 4.15-10.1 1.61-4.8 3.19-8.6 4.73-11.41 1.54-2.81 3.68-5.2 6.42-7.17 2.74-1.97 5.59-2.95 8.57-2.95 3.98.05 7.59 1.8 10.85 5.31zm-40.71 32.87c-1.75 0-2.87.27-3.33.81.46.14.84.21 1.13.21.79 0 1.52-.34 2.2-1.02z" />
        <path id="I" d="M1073.85 169.74c-2.04 3.08-4.14 5.44-6.28 7.09s-4.08 2.47-5.8 2.47c-1.93 0-3.15-.52-3.65-1.56s-.75-2.86-.75-5.48v-9.78c-1.11 2.83-2.72 5.59-4.83 8.27l-1.67-1.34c3.33-4.62 5.5-9.09 6.5-13.43l5.37-2.85v17.03c0 2.11.1 3.51.3 4.19.2.68.69 1.02 1.48 1.02 1.61 0 4.21-2.34 7.79-7.04l1.54 1.41zm-9.24-27.07l-3.76 4.78-3.81-4.78 3.81-4.62 3.76 4.62z" />
        <path id="D" d="M1079.01 135.31c0-2.18.64-3.9 1.93-5.16 1.29-1.25 2.95-1.88 5-1.88 4.4 0 8.32 2.24 11.74 6.71 3.42 4.48 5.13 10.21 5.13 17.19 0 7.66-1.84 14.1-5.53 19.31-3.69 5.21-7.9 7.81-12.62 7.81-2.65 0-4.8-.81-6.45-2.44-1.65-1.63-2.47-3.59-2.47-5.88v-1.88c0-1 .04-1.67.11-1.99l-2.52 3.54-1.77-1.24c7.05-10.92 13.7-16.38 19.93-16.38 3.33 0 5.89 1.4 7.68 4.19.21-1.58.32-3.08.32-4.51 0-4.8-1.49-9.17-4.46-13.11-2.97-3.94-6.43-5.91-10.37-5.91-2.02.02-3.9.56-5.65 1.63zm8.49 40.07c2.72 0 5.18-1.37 7.39-4.11s3.3-5.74 3.3-9c0-2.15-.62-3.84-1.85-5.08s-2.89-1.85-4.97-1.85c-2.76 0-5.19 1.27-7.3 3.81-2.11 2.54-3.17 5.34-3.17 8.38 0 2.33.61 4.22 1.83 5.67 1.2 1.46 2.8 2.18 4.77 2.18zm19.65-5.64c-3.94 6.23-9.17 9.72-15.68 10.47l-.48-1.24c5.84-1.32 10.65-4.83 14.45-10.53l1.71 1.3z" />
        <path id="S" d="M1117.36 152.28c2.79 1.43 5.03 3.53 6.71 6.28 1.68 2.76 2.52 5.53 2.52 8.33 0 3.33-.98 6.23-2.93 8.7-1.95 2.47-4.45 3.71-7.49 3.71-1.5 0-3.13-.5-4.89-1.5-1.75-1-3.28-2.47-4.57-4.4 1.11-1.72 2.72-3.19 4.83-4.4l.43.54c-.07.36-.11.88-.11 1.56 0 1.54.53 2.91 1.6 4.11 1.07 1.2 2.28 1.8 3.63 1.8 1.67 0 3.05-.71 4.12-2.12 1.07-1.41 1.6-3.2 1.6-5.34 0-4.44-2.63-8.4-7.9-11.87l-4.57 7.2c-1.83 2.94-3.15 4.91-3.97 5.91l-1.67-1.34c3.65-5.41 7.29-12 10.9-19.77l1.29.11.47 2.49zm18.37 17.46c-3.83 6.3-8.67 9.72-14.5 10.26l-.32-1.02c2.58-.61 4.77-1.62 6.58-3.03 1.81-1.41 4.02-3.91 6.63-7.49l1.61 1.28z" />
    </svg>--%><%--2--%>
            <%--  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 1817 165" xml:space="preserve">
        <path id="a1" d="M675.43 93.43l-.17.58h-1.01l-.67-.12-2.77-1.52-3.28-1.58-1.51-1.23-1.76-.47-5.13-3.09-2.94-2.39-5.55-3.33-1.51-1.69-2.27-1.17-1.68-2.16-6.05-2.86-6.72-3.15-3.61-1.4-2.52-1.58-2.27-.12-.84-.82h-2.44l-1.34.58-.17.93-.92 3.38-.5 3.79-.84 5.6-.84 3.73v2.86l-.67 1.81v3.68l-.17 2.86v3.15l.5 2.63.17 2.28-1.09 1.63-1.18.12-.84-.58-1.01-.93-.76-.88-.67-2.63-1.01-1.63-.84-2.86.84-1.69-.34-3.85 1.18-1.98-.84-2.68.34-2.51-.84-3.56-1.09-3.33v-2.86l-.84-1.58.17-1.23-1.34-1.63-.17-1.81.67-3.56-.5-3.15-.84-2.98.5-2.28-.84-1.63.5-2.8.5-1.87-1.43-3.97-.17-2.28-1.01-.89v-1.46l.84-2.16 1.26-1.05 3.11-1.58 3.78-.47 3.95.82 3.45.88 2.69 2.28 1.26 1.63v2.74l-.34 2.69-1.26 1.98-1.01 2.51-.67 2.16.5 1.11 1.51.58 1.93-.23 2.44-.99 3.11-1.63 5.46-3.27 2.6-1.17 5.97-3.44 4.37-2.28 5.46-2.74 5.21-2.04 2.52-1.58 2.77-1.58 1.93-.35 1.51-1.28 2.94-1.23 2.6-.58 1.01.12.84.35-.51.64-.68.7-2.79 1.05-2.62 1.69-2.2.47-2.45 1.46-2.94 1.17-2.6 1.58-3.19 1.81-2.94 2.1-3.11 1.23-1.18 1.17-2.44 1.11-9.16 6.3-3.95 2.04-2.52 1.93-1.09 1.05-1.34.12.5 1.69 4.46 3.09 3.11 2.28 3.78 2.39 3.78 2.04 3.11 1.81 3.28 2.51 3.11 3.21 3.45 2.74 1.34 1.34 1.01 1.63 1.6 1.11 2.94 2.16 3.11 1.75 1.18 1.46 1.51.7 3.11 1.81 2.45 1.28 1.57 1.34zm-59.49 12.54l-.5.58-1.26-.58 1.26-.82.5.82zm58.32-.58l-1.51.7-1.26-.58v-1.23l.84-.47 1.6.58.33 1z" />
        <path id="b2" d="M728.46 79.65l-1.51 1.58-2.44.93-2.94.88-3.61.82-3.96.23-3.61.58-2.52.88-2.94.7-2.44.47-3.95.12-3.11-.23-2.1.12-1.85.47-.84 1.34.34 2.51 1.01 1.34 1.93 1.63 3.61 2.74 1.85 1.23 3.61 1.28 1.93.64 2.35.7h2.77l2.6-.47 2.18-.23 2.44-.64 2.44-.35h1.51l.17.47-.84.64-1.51.7-2.6.93-2.77.99-2.6.7-2.52.47-3.78-.12-3.78-.58-3.11-1.11-3.61-1.63-3.28-1.93-2.27-1.05-1.68-1.11-1.43-1.4-1.01-.53-2.1-3.56-1.85-3.09-1.18-2.51-.42-1.93.25-2.16.67-2.28.67-1.93.84-1.28.84-1.46.76-.7 1.51-.93 1.18-.12 2.1-2.04 2.44-1.46 2.52-.93 3.11-.35h3.95l3.28-.12 4.45.35 3.61.7 10 3.44 2.6 1.11 2.44 1.52 1.34 1.23.84 2.04v1.75zm-15.97-3.4l-1.43-1.06-2.18-.77-2.44-.71-2.77-.24h-2.69l-2.44.47-2.44.71-2.18 1.12-1.26.47-1.34 1.06.5.77 1.18-.12 1.93.12h3.28l2.77.47h2.86l3.11-.12 2.77-.47 2.44-.47.33-1.23zm7.4 21.14l-1.01.58-.92-.58.5-.76h1.26l.17.76z" />
        <path id="c3" d="M787.28 79.65l-1.51 1.58-2.44.93-2.94.88-3.61.82-3.95.23-3.61.58-2.52.88-2.94.7-2.44.47-3.95.12-3.11-.23-2.1.12-1.85.47-.84 1.34.34 2.51 1.01 1.34 1.93 1.63 3.61 2.74 1.85 1.23 3.61 1.28 1.93.64 2.35.7h2.77l2.6-.47 2.18-.23 2.44-.64 2.44-.35h1.51l.17.47-.84.64-1.51.7-2.6.93-2.77.99-2.6.7-2.52.47-3.78-.12-3.78-.58-3.11-1.11-3.61-1.63-3.28-1.93-2.27-1.05-1.68-1.11-1.43-1.4-1.01-.53-2.1-3.56-1.85-3.09-1.18-2.51-.42-1.93.25-2.16.67-2.28.67-1.93.84-1.28.84-1.46.76-.7 1.51-.93 1.18-.12 2.1-2.04 2.44-1.46 2.52-.93 3.11-.35h3.95l3.28-.12 4.45.35 3.61.7 10 3.44 2.6 1.11 2.44 1.52 1.34 1.23.84 2.04v1.75zm-15.97-3.4l-1.43-1.06-2.18-.77-2.44-.71-2.77-.24h-2.69l-2.44.47-2.44.71-2.18 1.12-1.26.47-1.34 1.06.5.77 1.18-.12 1.93.12h3.28l2.77.47h2.86l3.11-.12 2.77-.47 2.44-.47.33-1.23zm7.4 21.14l-1.01.58-.92-.58.5-.76h1.26l.17.76z" />
        <path id="d4" d="M795.68 86.01l-.5.93-1.34.23-.76-1.28 1.43-.47 1.17.59zm3.45 26.91l-.17.93-1.18-.12-.84-.58 1.34-.7.85.47zm44.79-28.83l-.59 2.16-.84 1.93-2.35 3.79-2.27 1.46-1.51.7-2.1.76-2.44.7-2.52.35h-5.55l-2.27-.35-1.68-.35-1.34-1.23-.76-1.17-.17-1.11.17-.58.76-.82h1.34l.84.47v1.17l.34 1.58 2.77 1.05h2.6l1.68-.23 3.28-.82 1.76-1.17 2.52-2.28 1.09-2.63.67-2.63v-1.46l-1.26-1.58-.67-1.52-.17-1.69-1.01-1.17-1.01-1.34-1.09-1.05-1.68-.88-1.76-.35-2.35-.47-2.44.12-3.11 1.69-1.85 1.28-.92 1.46-.67 1.4-.34 1.93.34 1.05-1.51.99-1.26.7-1.18.88-.5 1.05v1.69l-.34 1.63v1.34l-.34 1.4.17 1.46-.5 1.05-.67 1.34-.92 4.08-.84 2.63-.34 1.63-.67 2.16-.34 2.51-1.43 2.28-.17 1.69-1.01 1.93-.84 1.75-.67 2.28-.76 2.04-.34 1.81-.17 1.87.17 2.28.17 1.34.67 1.17-.34 1.11-1.68 1.05-.84.58-1.6-1.28-.5-1.69-.17-1.52v-2.28l.17-1.69.34-1.69-.17-1.87.5-.53.84-1.52.92-2.04.67-1.17.67-1.81.67-1.58.92-1.4-1.09-2.04-.17-2.39v-1.81l.17-1.28-.5-2.04.34-3.62 1.26-1.52-.76-2.28.59-2.51v-2.16l.34-1.81-.32-2.01.17-1.4-.76-1.46-1.17-.58.5-1.34 1.01-1.4.25-1.69-.59-1.52V73.7l-.67-1.17-2.6-2.8-1.01-3.44-.17-1.05v-1.11l1.18-1.17 1.76-1.34h2.77l5.29.99 2.44.47 1.34 2.04.5 1.98.76.88 2.35-.12 2.44-.76 6.22-.58 2.52.12 2.94.58 1.6.64 2.02.7 2.27 1.34 2.94 3.33.67 1.81 1.01 1.98.67 1.69.5 1.58.42 1.63.35 2.17z" />
        <path id="e5" d="M929.37 93.43l-.17.58h-1.01l-.67-.12-2.77-1.52-3.28-1.58-1.51-1.23-1.76-.47-5.13-3.09-2.94-2.39-5.55-3.33-1.51-1.69-2.27-1.17-1.68-2.16-6.05-2.86-6.72-3.15-3.61-1.4-2.52-1.58-2.27-.12-.84-.82h-2.44l-1.34.58-.17.93-.92 3.38-.5 3.79-.84 5.6-.84 3.73v2.86l-.67 1.81v3.68l-.17 2.86v3.15l.5 2.63.17 2.28-1.09 1.63-1.18.12-.84-.58-1.01-.93-.76-.88-.67-2.63-1.01-1.63-.84-2.86.84-1.69-.34-3.85 1.18-1.98-.84-2.68.34-2.51-.84-3.56-1.09-3.33v-2.86l-.84-1.58.17-1.23-1.34-1.63-.17-1.81.67-3.56-.5-3.15-.84-2.98.5-2.28-.84-1.63.5-2.8.5-1.87-1.43-3.97-.17-2.28-1.01-.93v-1.46l.84-2.16 1.26-1.05 3.11-1.58 3.78-.47 3.95.82 3.45.88 2.69 2.28 1.26 1.63v2.74l-.34 2.68-1.26 1.98-1.01 2.51-.67 2.21.5 1.11 1.51.58 1.93-.23 2.44-.99 3.11-1.63 5.46-3.27 2.6-1.17 5.97-3.44 4.37-2.28 5.46-2.74 5.21-2.04 2.52-1.58 2.77-1.58 1.93-.35 1.51-1.28 2.94-1.23 2.6-.58 1.01.12.84.35-.51.64-.68.7-2.79 1.05-2.62 1.69-2.2.47-2.45 1.46-2.94 1.17-2.6 1.58-3.19 1.81-2.94 2.1-3.11 1.23-1.18 1.17-2.44 1.11-9.16 6.3-3.95 2.04-2.52 1.93-1.09 1.05-1.31.1.5 1.69 4.46 3.09 3.11 2.28 3.78 2.39 3.78 2.04 3.11 1.81 3.28 2.51 3.11 3.21 3.45 2.74 1.34 1.34 1.01 1.63 1.6 1.11 2.94 2.16 3.11 1.75 1.18 1.46 1.51.7 3.11 1.81 2.45 1.28 1.54 1.36zm-59.49 12.54l-.5.58-1.26-.58 1.26-.82.5.82zm58.32-.58l-1.51.7-1.26-.58v-1.23l.84-.47 1.6.58.33 1z" />
        <path id="f6" d="M947.86 43.59l-.34.93-1.43 1.11-1.18 1.17v1.11l.84 1.05.84.82v1.69l-.84 1.46-1.34 1.17-1.76.99-2.18.12-2.44-.12-1.43-.64-1.68-.82-1.51-1.23-1.93-1.63-.84-1.58-.34-1.17.34-1.11.84-1.28 1.18-.99 2.44-.93 2.1-.23 3.11-.23 3.03-.58 2.1-.12 1.51.12.91.92zm1.01 25.33l-.5.58-1.76.64-1.18.7-.5 1.4-.34 1.93-.92 1.93.59 1.69-.76 1.4-.17 1.93-.34 2.04v2.04l.34 2.51-.34 1.87v2.04l.5 1.58.76 1.52-.76 1.81.92 1.58v2.74l.17 1.05.67 1.58.17 1.69.67 1.17v1.11l.67 1.05-.84 1.05-1.01.29-.67-.29-.76-1.17-.5-1.34-.34-1.05-.84-1.17v-1.11l-1.18-1.81v-1.63l-.34-1.23v-1.63l-.59-1.46-.34-3.56-.34-.99-.17-2.28.17-1.52-.17-1.69v-1.46l-.84-1.17-1.43-.58-1.01-.76-1.01-2.28-.34-1.28V73.7l.34-2.04-.5-2.16-.17-1.4-.67-1.34.67-1.4 1.01-1.11 1.34-.35 1.93-.35 2.1.35 1.51.93 1.51.88h1.93l1.34.93 1.26.58 1.01.64v1.06zm-9.5-27.49l-1.34.58-1.43-.23.42-1.05 1.18-.35 1.17 1.05z" />
        <path id="g7" d="M1012.56 34.84l-.92 3.15-1.01 4.38-1.68 3.03-1.09 2.98-1.18 3.21-1.01 3.85v3.44l-.34 3.33.17 2.04-.34 3.27-.34 3.91-.92 2.74.67 6.48-.34 2.74-.17 2.98-.5 3.5-.5 2.51-.34 2.22-.34 3.85.67 3.44.84 6.94.67 1.69.92.58-.5 1.46-1.42.7-1.46-.82-.49-1.58-.16-1.81-.93-1.28-.84-3.97-.67-2.16-1.35-1.87-1.26 1.28-1.35.93-2.95.53-2.27.23-4.8 1.17h-3.28l-4.63-.93-3.29-.23-1.18-1.58-2.61-.93-1.6-.88-1.18-1.98-2.11-1.58-1.15-2.02-1.52-1.81.17-2.39-.84-3.33 1.01-3.56 1.18-1.81 1.6-3.21 3.28-2.16 3.78-.76 2.35-.93 5.21-1.28 3.45.47 2.35-.12 2.6 1.05 3.95.47 3.45 1.34-.34-3.5.34-3.44.17-2.86-.34-5.95-.5-2.8v-3.56l.84-3.85v-2.51l-.5-3.09-.69-2.99-2.27-3.97-.34-2.28v-1.28l.17-1.69.84-1.63 1.6-.99 4.12.12 3.61 1.46 3.78-.82 4.62 1.63 1.43 3.09zm-33.78 29.29l-.84 3.09-1.51.76v.93l.5 1.69-2.27.7h-1.85l-2.44-1.17-.34-2.04v-1.23l.67-3.68 1.18-1.58 3.12-.1 2.6.99 1.18 1.64zm17.4 26.32v-4.9l-.34-2.39-1.18-1.58-.17-2.39-1.09-1.93-2.52-.23h-3.61l-4.2.99-4.29 2.28-2.52 1.98-1.76 1.93-.84 2.04-1.93 2.04-.34 1.93.5 1.87.92 1.34 1.34 1.05 4.12 2.92 6.05 1.17 3.95-.12h2.44l2.52-.12 2.1.23-.5-2.04 1.01-.35v-3.44l.34-2.28z" />
        <path id="h8" d="M1016.85 67.52l-1.26.47-1.34-.76 1.01-.93 1.6.23v.99zM1055 94.88l-.34 1.63-.84 1.81-1.18 1.58-1.76 1.17-2.18 1.34-1.93.47-2.1.82-1.85.58-2.6.12h-5.29l-1.76-.93-2.35-.12-3.28-.58-2.77-.76-1.6-.93-1.68-.47-1.01-1.34-.92-1.28V96.3l.92-1.69.67-1.05 1.18-1.17 1.43-.18.67.99-.67 1.28-.17 1.46v1.69l1.18 1.28 2.27.58 2.35.64 2.1.58 3.45.23 2.18.7 2.77-.47 2.27-.47 1.68-.7 2.27-1.11 1.68-.93 1.26-.88.17-1.63v-1.93l-.84-1.46-1.76-1.52-2.44-.58-2.86-.99-1.09-.7-3.11-1.11-2.18-.93-2.44-.7-1.51-.58-2.27-.41-1.51-.12-2.1-.82-1.93-.82-1.18-1.46-1.18-1.17-.84-1.58-.17-1.81.67-1.63.17-1.46 1.01-1.69 1.34-1.4 1.43-1.34.34-.7 1.18-1.05h1.6l.5-1.23 1.85-.35 1.93-.7 2.27-.12 2.52-.29 3.28-.7 2.94-.47h2.44l2.35.47 1.76.7 2.02 1.11 1.26.58 1.34 1.34.5.82v1.69l-1.18 1.28-1.18.88-2.11.58-3.46.23-2.78-.23-2.36-.12-2.61.35-2.45.82-1.69.88-1.6 1.17-.67 1.69 1.01 1.28 1.6.99 2.19.35 1.6.82 1.52.93 1.77.99 1.52 1.17 1.6.23 1.35.53 1.18 1.05 1.6.47 1.52.64 1.77 1.05 1.35 1.17.17 1.69.51 1.93.32 1.72z" />
    </svg>--%><%--1--%>


        </h1>
        <h1>ממשק ניהול גני ילדים</h1>
    </div>
    <div class="app-content content">
        <div class="content-wrapper">

            <div class="content-body">
                <!-- Basic Carousel start -->
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="card-content">
                            <div class="card-body">
                                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                                    <ol class="carousel-indicators">
                                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                                    </ol>
                                    <div class="carousel-inner hidden-xs (only) = d-none d-sm-block (same as hidden-xs-down)" role="listbox">
                                        <div class="carousel-item active">
                                            <img src="../pics/imgdefualt1.jpg" class="img-fluid" alt="First slide" style="height: 500px; width: 1000px;">
                                        </div>
                                        <div class="carousel-item">
                                            <img src="../pics/keep5.jpg" class="img-fluid" alt="Second slide" style="height: 500px; width: 1000px;">
                                        </div>
                                        <div class="carousel-item">
                                            <img src="../pics/keep4.jpg" class="img-fluid" alt="Third slide" style="height: 500px; width: 1000px;">
                                        </div>
                                    </div>
                                    <div class="carousel-inner visible-xs (only) = d-block d-sm-none" role="listbox">
                                        <div class="carousel-item active">
                                            <img src="../pics/imgdefualt1.jpg" class="img-fluid" alt="First slide" style="height: 300px; width: 600px;">
                                        </div>
                                        <div class="carousel-item">
                                            <img src="../pics/keep5.jpg" class="img-fluid" alt="Second slide" style="height: 300px; width: 600px;">
                                        </div>
                                        <div class="carousel-item">
                                            <img src="../pics/keep4.jpg" class="img-fluid" alt="Third slide" style="height: 300px; width: 600px;">
                                        </div>
                                    </div>
                                    <a class="carousel-control-prev" href="#carousel-example-generic" role="button" data-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="carousel-control-next" href="#carousel-example-generic" role="button" data-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Basic Carousel end -->



            </div>
            <div class="row pt-1">
                <div class="col-xl-3 col-lg-6 col-12">
                    <div class="card pull-up">
                        <div class="card-content">
                            <div class="card-body">
                                <div class="media d-flex">
                                    <div class="media-body text-left">
                                        <h3 class="info">דוחות אישיים</h3>
                                        <h6></h6>
                                    </div>
                                    <div>
                                        <i class="icon-user info font-large-2 float-right"></i>
                                    </div>
                                </div>
                                <div class="progress progress-sm mt-1 mb-0 box-shadow-2">
                                    <div class="progress-bar bg-gradient-x-info" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-12">
                    <div class="card pull-up">
                        <div class="card-content">
                            <div class="card-body">
                                <div class="media d-flex">
                                    <div class="media-body text-left">
                                        <h3 class="warning">פעילויות חינוכיות</h3>
                                        <h6></h6>
                                    </div>
                                    <div>
                                        <i class="icon-calendar warning font-large-2 float-right"></i>
                                    </div>
                                </div>
                                <div class="progress progress-sm mt-1 mb-0 box-shadow-2">
                                    <div class="progress-bar bg-gradient-x-warning" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-12">
                    <div class="card pull-up">
                        <div class="card-content">
                            <div class="card-body">
                                <div class="media d-flex">
                                    <div class="media-body text-left">
                                        <h3 class="danger">אירועים חריגים</h3>
                                        <h6></h6>
                                    </div>
                                    <div>
                                        <i class="icon-bulb danger font-large-2 float-right"></i>
                                    </div>
                                </div>
                                <div class="progress progress-sm mt-1 mb-0 box-shadow-2">
                                    <div class="progress-bar bg-gradient-x-danger" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-12">
                    <div class="card pull-up">
                        <div class="card-content">
                            <div class="card-body">
                                <div class="media d-flex">
                                    <div class="media-body text-left">
                                        <h3 class="success">שליחת תזכורות</h3>
                                        <h6></h6>
                                    </div>
                                    <div>
                                        <i class="icon-check success font-large-2 float-right"></i>
                                    </div>
                                </div>
                                <div class="progress progress-sm mt-1 mb-0 box-shadow-2">
                                    <div class="progress-bar bg-gradient-x-success" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <input type="hidden" id="Admin" runat="server" />
            <input type="hidden" id="Team" runat="server" />
            <input type="hidden" id="Parent" runat="server" />
            <input type="hidden" id="Kids" runat="server" />
            <div class="row">
                <div class="col-xl-8 col-md-6 col-sm-12">
                    <div class="card pull-up">
                        <div class="card-header">
                            <h4 class="card-title text-center">מספר המשתמשים בממשק</h4>
                        </div>
                        <div class="card-content collapse show">
                            <div class="card-body">
                                <canvas id="simple-doughnut-chart" height="400"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 col-sm-12">
                    <div class="card">
                        <div class="card-content">
                            <div class="card-body">
                                <h1 class="card-title text-center">הדרכה לשימוש בממשק</h1>
                            </div>
                            <div class="embed-responsive embed-responsive-item embed-responsive-16by9">
                                <iframe class="img-thumbnail" src="https://www.youtube.com/embed/5Q1m5mOYreo"></iframe>
                            </div>
                            <div class="card-body">
                                <p class="card-text text-center">
                                    פירוט יסודי ומעמיק, אודות השימוש בממשק שלנו והמפרט העשיר מלא הפיצ'רים, שיקלו בהרבה על איכות החיים, הן מצד אנשי הצוות, והן מצד הורי החניכים.<br />
                                    אנו מקווים שתפיקו את המירב בשימוש בפלטפורמה נפלאה זו
                                    <br />
                                    <br />
                                    <br />
                                    <br />
                                    <b>צוות KeepKids</b>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="Footer1" runat="server">

    <script src="/app-assets/vendors/js/animation/jquery.appear.js"></script>
    <script src="/app-assets/js/scripts/animation/animation.js"></script>
    <!-- BEGIN: Page Vendor JS-->
    <script src="/app-assets/vendors/js/charts/chartist.min.js"></script>
    <script src="/app-assets/vendors/js/charts/chartist-plugin-tooltip.min.js"></script>
    <script src="/app-assets/vendors/js/charts/raphael-min.js"></script>
    <script src="/app-assets/vendors/js/charts/morris.min.js"></script>
    <script src="/app-assets/vendors/js/timeline/horizontal-timeline.js"></script>
    <!-- END: Page Vendor JS-->
    <script src="/app-assets/vendors/js/charts/chart.min.js"></script>
    <!-- BEGIN: Page JS-->
    <script src="js/graph.js"></script>
    <!-- END: Page JS-->

    <!-- BEGIN: Page JS-->
    <!-- END: Page JS-->



</asp:Content>
<asp:Content ID="Content4" ContentPlaceHolderID="Footer2" runat="server">
</asp:Content>






